*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 600px;
  width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:darkgoldenrod ;


}

.container{
  height: 480px;
  width: 420px;
display: flex;
flex-direction: column;
justify-content: space-around;
background-color: cornflowerblue;
border-radius: 20px;
border-style: solid;

}

h1{
  display: flex;
  justify-content: center;
  color:darkred

}

#formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
  
  
}

.form1 ,.form2,.form3{
  display: flex;
  flex-direction: column;
  width: 350px;
}

input{
  height: 30px;
  border-radius: 20px;
  font-size: 18px;
  padding: 3px;
}

.submitContainer{
  margin-bottom: 19px;
}
#submit{
  width: 200px;
  height: 40px;
  background-color:darkgoldenrod ;
  cursor: pointer;
}

#submit:hover{
  background-color: yellow;
}


